::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Shared App Layout */
.dashboard-panel {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #F9FAFB;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
